@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@model aquasend.ViewModels.AdminDashboardViewModel

<link rel="stylesheet" href="~/css/user.css" />

<div class="container">
    <h2 class="text-center heading mb-5">Admin Dashboard</h2>
    <div class="row">
        <div class="col-md-8 shadow p-3 rounded mb-3">
            <div class="text-right">
                <i class="far fa-edit " data-toggle="modal" data-target="#modal"></i>
            </div>
            <h4>User Details</h4>
            <div class="row">
                <div class="col-md-5 m-1">
                    <h6 class="colorize">Name</h6>
                    <h5>@Model.User.FirstName @Model.User.LastName</h5>
                </div>

                <div class="col-md-5 m-1">
                    <h6 class="colorize">Email</h6>
                    <h5>@Model.User.Email</h5>
                </div>

                <div class="col-md-3 m-1">
                    <h6 class="colorize">Phone</h6>
                    <h5>@Model.User.PhoneNumber</h5>
                </div>
            </div>
        </div>
        <div class="col-md-8 shadow p-3 rounded">
            <h4>Statistics</h4>
            <div class="shadow p-3 rounded">
                <h6>Total Requests</h6>
                <h4>@Model.StatisticsData.TotalRequests</h4>
            </div>
            <div class="shadow p-3 rounded">
                <h6>Pending Requests</h6>
                <h4>@Model.StatisticsData.PendingRequests</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="shadow p-3 mb-3 rounded">
                <h4>Users</h4>
                <h1>@Model.StatisticsData.TotalUsers</h1>
            </div>
            <div class="shadow p-3 mb-3 rounded">
                <h4>Drivers</h4>
                <h1>@Model.StatisticsData.TotalDrivers</h1>
            </div>

        </div>
    </div>
</div>

@*<div id="modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body m-3">
                <h3 class="text-center mb-3">Admin Details</h3>
                <form method="post" asp-action="UpdateProfile" asp-controller="Admins">
                    <div class="row">
                        <input class="form-control m-2 col-md-5" value="@Model.User.Firstname" name="Firstname" type="text" placeholder="Firstname" required />
                        <input class="form-control m-2 col-md-5" value="@Model.User.Lastname" name="Lastname" type="text" placeholder="Lastname" required />
                        <input class="form-control m-2 col-md-5" value="@Model.User.Email" name="Email" type="email" placeholder="Email" required />
                        <input class="form-control m-2 col-md-5" value="@Model.User.PhoneNumber" name="PhoneNumber" type="tel" placeholder="PhoneNumber" required />
                        <input class="form-control m-2 col-md-5" value="@Model.User.Country" name="Country" type="text" placeholder="Country" required />
                        <input class="form-control m-2 col-md-5" value="@Model.User.BitcoinWalletAddress" name="WalletAddress" type="text" placeholder="Wallet Address" required />
                        <div class="text-left m-2">
                            <b>Gender: </b><br />
                            @foreach (Investment.Enums.GenderEnum gender in System.Enum.GetValues(typeof(Investment.Enums.GenderEnum)))
                            {
                                var isGender = Model.User.Gender == gender;
                                <label class="m-1" name="Gender">@gender</label>
                                <input class="m-1" type="radio" name="Gender" value="@((int)gender)" checked="@isGender" />
                            }
                        </div>
                    </div>
                    <button class="mt-3 btn-sm" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>*@

